<div class="container mt-5">
  <div class="card shadow w-50 m-auto text-xl-center p-4">
    <span class="display-3">Zalogój się</span>
    <form>
      <input type="text" class="form-control mt-5">
      <input type="password" class="form-control mt-3">
      <div>
        <button class="btn btn-light btn-pink mt-5 text-white">Zaloguj sie
          <fa-icon [icon]="faLogin"></fa-icon>
        </button>
        <br>
        <span>Nie masz konta <a href="#">zarejestrój się</a></span>
      </div>
    </form>
  </div>
</div>
